.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#bg {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

html,
body,
#root {
  height: 100%;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.MuiTab-root {
  color: #da652e !important;
}

.MuiCard-root {
  border-radius: 12px !important;
  box-shadow: none !important;
  padding: 16px;
  margin: 16px;
}

.MuiTypography-h5 {
  color: #8d3733 !important;
}

.mapboxgl-ctrl-top-left {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.mapboxgl-ctrl-geocoder--button:hover,
.mapboxgl-ctrl-geocoder--button {
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder--button > svg {
  margin-bottom: 6px;
}

#fit {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

button:hover {
  background-color: #ee8a65 !important;
}
